body {
    display: grid;
    min-height: 100vh;
    margin: 20px;
    background-image: url(../../img/formulario/formularioRugby/fondoRugby.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: sans-serif;
    font-size: 600%;
    font-style: italic;
    margin: 2px;
    border-radius: 15px;
    color: aliceblue;
    background-image: linear-gradient(to right, rgb(0, 0, 0) ,transparent);
}

h4 {
    margin: 5px;
}

.contenedor {
    margin: 0 auto;
    display: grid;
    place-items: center;
    justify-items: center;
    border: 3px solid black;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 2rem;
    font-weight: 540;
    font-family: Arial;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 10px;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="date"],
form input[type="number"] { 
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:5px 0;
	display:inline-block; 
    cursor: text; 
}

form input[type="radio"],
form input[type="checkbox"] {
    cursor: pointer; 
}

form input[type="submit"],
form input[type="reset"]{
	width:100%;
	padding:8px;
	margin-top:15px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
    cursor: pointer;
}

footer {
    margin: auto;
    font-family: Arial;
    font-weight: bolder;
    font-size: 70%;
}
